/* Footer styling */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  /* Copyright text */
  .footer p {
    margin: 0;
  }
  
  /* Social media links styling */
  .social-links {
    display: flex;
    gap: 15px;
  }
  
  .social-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .social-link:hover {
    color: #f2c14e; /* Change color on hover */
  }
  